body {
  font-family: "Noto Serif", serif;
  background-image: url(media/bckgrd1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

.container {
  display: block;
  max-width: 500px;
  margin: 60px auto;
  padding: 35px;
  background-color: rgba(255, 255, 255, 40%);
  border-radius: 2px;
}

h1 {
  font-size: 35px;
}
