body {
  font-family: "Noto Serif", serif;
  color: #000;
}

.container {
  display: block;
  max-width: 500px;
  margin: 10px auto;
  padding: 35px;
  color: #000;
  background-color: rgba(255, 255, 255, 40%);
  border-radius: 2px;
}

img {
  max-width: 500px;
  border-radius: 15px;
}

.header-time {
  display: block;
  margin: 15px auto;
  text-align: center;
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Noto Serif", serif;
}

.cities {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed #595f61;
}

footer {
  font-size: 10px;
  color: #000;
}
